@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.form-control input,
.form-control textarea {
  padding: 7px;
  border: 1px solid gray;
  border-radius: 3px;
}

.form-control label,
.form-control input,
.form-control textarea {
  width: 95%;
  display: block;
}

.form-control label {
  margin-bottom: 0.5rem;
}

.form-control {
  margin-bottom: 1rem;
}

.form-actions button,
.btn {
  background: #5101d1;
  font: inherit;
  border: 1px solid #5101d1;
  border-radius: 3px;
  padding: 0.25rem 1rem;
  margin-right: 1rem;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.26);
  color: white;
  cursor: pointer;
}

.form-actions button:hover,
.form-actions button:active,
.btn:hover,
.btn:active {
  background: #6219d6;
  border-color: #6219d6;
}

.btn-danger {
  background: #ff3535;
  border-color: #ff3535;
  outline: none;
}

.btn-danger:hover {
  background: #fd5a5a;
  border-color: #fd5a5a;
}